@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.header-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 50px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

.mt-10 {
  margin-top: 10px;
}

.pb-30 {
  padding-bottom: 30px !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #121212;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-antd-head-dark .ant-table-thead > tr > th {
  background: var(--clr-dark-primary);
  color: #ffff;
  border-color: #2f2f2f !important;
  border: 1px solid #2f2f2f;
}
.custom-antd-head-dark .ant-table.ant-table-bordered > .ant-table-container {
  border-color: #2f2f2f !important;
}
.custom-antd-head-dark
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table {
  border-color: #2f2f2f !important;
}

.ant-tab-expand .custom-antd-head-dark .ant-table-tbody > tr > td:nth-child(2) {
  background: #1e1e1e;
}
.ant-tab-expand > .custom-antd-head-dark > .ant-table-tbody > tr > td {
  background: #1e1e1e !important;
}

.ant-tab-expand .ant-table-tbody > tr > td {
  transition: none;
}
.ant-tab-expand .custom-antd-head-dark tr.ant-table-expanded-row > td {
  background: #292e3f;
}

.custom-antd-head-dark .ant-table-container {
  background-color: #1e1e1e;
}

.custom-antd-head-dark .ant-table-thead > tr > th {
  padding: 7px 10px;
}

.custom-antd-head-dark .ant-table-thead > tr > th > p {
  margin: 0;
}

.DatePicker-Antd-Dark {
  background-color: #2f2f2f !important;
  border: 1px solid #2f2f2f;
  margin-bottom: 10px;
  color: white;
}

.DatePicker-Antd-Dark :focus {
  outline: none;
  box-shadow: none;
}

.DatePicker-Antd-Dark
  > .ant-picker-input
  > input[placeholder="Start date"]::placeholder {
  color: #999;
}

.DatePicker-Antd-Dark
  > .ant-picker-input
  > input[placeholder="End date"]::placeholder {
  color: #999;
}

.DatePicker-Antd-Dark > .ant-picker-input > span {
  color: white;
  background: #292e3f !important;
}

.DatePicker-Antd-Dark > .ant-picker-clear > span {
  background-color: #292e3f !important;
  color: white;
}

.index-page-pagination > .ant-pagination {
  color: white;
}
.index-page-pagination > .ant-pagination > .ant-pagination-item-active {
  background: #3b3f4f !important;
  border: none;
}
.index-page-pagination
  > .ant-pagination
  > .ant-pagination-options
  > .ant-pagination-options-quick-jumper
  > input {
  background: #292e3f !important;
  color: white;
  border: 1px solid #545e78;
}
.index-page-pagination
  > .ant-pagination
  > .ant-pagination-options
  > .ant-pagination-options-size-changer
  > .ant-select-selector {
  background-color: #292e3f !important;
  color: white;
}

.index-page-pagination .ant-pagination .ant-pagination-item:hover {
  background-color: white !important;
}
.index-page-pagination
  > .ant-pagination
  > .ant-pagination-next
  > .ant-pagination-item-link {
  color: white;
}
.index-page-pagination
  > .ant-pagination
  > .ant-pagination-prev
  > .ant-pagination-item-link {
  color: white;
}

.antd-Selete-Custom-dark {
  color: white !important;
  background-color: #292e3f !important  ;
  margin-bottom: 10px;
  border-radius: 8px;
}
.antd-Selete-Custom-dark > div > span {
  color: white !important;
}

.antd-Selete-Custom-dark
  .ant-select-selector
  .ant-select-selection-wrap
  .ant-select-selection-placeholder {
  color: white !important;
}

:where(.css-dev-only-do-not-override-5uvb3z).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: none;
  background: #2f2f2f !important;
}

.dark-input-login > div {
  padding: 0px !important;
}
.dark-input-login > div > label {
  color: #fff !important;
  font-weight: 500;
}

.dark-input-login .ant-input-group > .ant-input:last-child,
.ant-input-group-addon:last-child {
  color: #fff !important;
  background: transparent !important;
  border: inherit !important;
}
.dark-input-login > div > div > div > span > span > span,
.dark-input-login > div > div > div > span > span > input {
  color: white;
  height: 100% !important;
}

.dark-input-login > div > div > div > span > span,
.light-input-login > div > div > div > span > span {
  height: 100% !important;
}

.dark-input-login
  .ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input {
  background: #1e1e1e !important;
  color: white;
}

.contact-select-dark > span {
  color: white !important;
}
.contact-select-dark > div > span {
  color: white !important;
}
.contact-select-dark:placeholder-shown {
  color: #f2f6f8 !important;
}
.contact-select-dark > div {
  height: 40px !important;
  background-color: transparent !important;
}

.modal-bg-custom .ant-modal-content {
  background-color: #1e1e1e !important;
  color: white;
  border-radius: 8px;
}

.modal-bg-custom .ant-modal-content > button {
  color: white;
}

.ant-form .ant-form-item .ant-row .ant-col > label {
  color: white !important;
}

.ant-form
  .ant-form-item
  .ant-row
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  > input {
  background-color: #2f2f2f !important;
  border: none !important;
  color: white;
}

.ant-form
  .ant-form-item
  .ant-row
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  > textarea {
  background-color: #2f2f2f !important;
  border: none !important;
  color: white !important;
}

.ant-form
  .ant-form-item
  .ant-row
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  > span {
  background-color: #2f2f2f !important;
  border: none !important;
  color: white !important;
}

:where(.css-dev-only-do-not-override-5uvb3z).ant-form-item
  .ant-form-item-label {
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: start;
  vertical-align: middle;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rich-text-editor {
  color: white !important;
  background-color: #2f2f2f !important;
  border: none !important;
  border-radius: 8px !important;
  padding: 1px 8px !important;
  min-height: 200px !important;
  margin-top: 20px;
}

.ck-editor-custom {
  color: #fff;
}

.ck.ck-icon {
  color: #fff !important;
}

.ck-button__label {
  color: #fff !important;
}

.ck.ck-editor__main > .ck-editor__editable {
  background: #2f2f2f !important;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  height: 300px;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 200px;
}

.ck.ck-toolbar {
  background: none !important;
}

.ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
  background: #2f2f2f !important;
}
/* .ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
  background: #fc00c5 !important;
} */

/* .ck-rounded-corners
  .ck.ck-dropdown
  .ck-dropdown__panel
  .ck-list
  .ck-list__item:first-child
  .ck-button {
  background: #1e1e1e !important;
} */

.ck-dropdown__panel {
  background: green !important;
}

.ck-dropdown__panel .ck.ck-list {
  background: #3b3f4f;
}

.ck-dropdown__panel .ck.ck-list .ck.ck-list__item .ck-button.ck-on {
  background: #545e78;
}

.ck-button.ck-on :hover {
  background: #545e78;
}

.ck-editor__editable {
  background: none;
}

.ck-editor__editable_inline {
  resize: vertical;
  overflow: auto;
  min-height: 200px;
  max-height: 800px;
  height: auto !important;
}

.drop-down-stock > div > div > div > div > div > div {
  color: white !important;
  background-color: #1e1e1e !important;
}
.drop-down-stock {
  background-color: #1e1e1e !important;
}
.drop-down-stock
  > div
  > div
  > div
  > div
  > div
  > .ant-select-item-option-active {
  background-color: #2f2f2f !important;
}

.drop-down-stock > div > div {
  color: white;
}

.ant-dropdown-trigger {
  color: white !important;
}
